.column {
  float: left;
  width: 50%;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}
.select{
  text-align: center;
}
h2{
  padding: 1%;
}
.button1 {
  background-color: #004590; /* Green */
  border: none;
  color: rgb(255, 255, 255);
  padding: 5px 16px;
  display: inline-block;
  font-size: 16px;  
  font-weight:bold;
  position:relative;
}
.description{
  padding: 2%;
  width: 50%;
  margin: auto;
  text-align: center;
  align-items: center;
}