<app-navbar></app-navbar>

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>Movie Seat Booking</title>
  </head>
  <body>
     <!-- <h1></h1>
      <form [formGroup]="seleccionesForm">
        <label>Seleccione Sucursal:</label>
        <select formControlName="sucursalControl" id="sucursales" (click)="getValue()">
            <option [value]='sucursal' *ngFor="let sucursal of lugares">{{sucursal}}</option>
        </select>
    </form>
    <form [formGroup]="salasForm">
        <label>Seleccione Sala:</label>
        <select formControlName="salaControl" id="salas" >
            <option [value]='sala' *ngFor="let sala of salasDeBranch">{{sala}}</option>
        </select>
    </form>--> 
    
  <div class="row">
    
  <div class="column">
   
  <h2 style="color: black;" class="text-center">
    Torneo
  </h2>
  <div class="form-group">
        <div class="input-group">
            <input type="text" class="form-control" formControlName="name_Protagonist"
                placeholder="Nombre del Torneo">
        </div>
  </div>
   
      <h2 style="color: black;" class="text-center">
        Fecha de Inicio
      </h2>
    <!--<form [formGroup]="fechaInicioForm" >-->  
        <div class="row">
          <h6> </h6>
          <div class="form-group">
            <div class="input-group">  <!--(click)="getValueDate()-->
              <input type="date" id="date" class="form-control" formControlName="fechaInicioControl"  placeholder="fechaInicio">
            </div>
          </div>
        
    <!--  </form>-->
    </div>
    
        <h2 style="color: black;" class="text-center">
          Fecha de Finalizacion
        </h2>
      <!--<form [formGroup]="fechaInicioForm" >-->  
          <div class="row">
            <h6> </h6>
            <div class="form-group">
              <div class="input-group">  <!--(click)="getValueDate()-->
                <input type="date" id="date" class="form-control" formControlName="fechaFinalControl"  placeholder="fechaFinal">
              </div>
            </div>
            <form [formGroup]="equiposForm" class="select">
              <h2> Tipo de Equipos:</h2>
              <select id="tipoEquipos">
                <option  value="0">Seleccion</option>
                <option  value="1">Club</option>
              </select>
          </form> 
            <mat-form-field class="description" appearance="fill">
              <mat-label>Descripción del Torneo</mat-label>
              <textarea matInput placeholder="Ex. It makes me feel..."></textarea>
            </mat-form-field>
          </div>

          
      <!--  </form>-->
      

    
  </div>
  <div class="column">
    
    <form [formGroup]="equiposForm" class="select">
      <h2> Seleccionar Equipos:</h2>
      <select formControlName="equiposControl" id="equipos"  (click)="getValue()"  >
        <option [value]='equipo' *ngFor="let equipo of nombresEquipos">{{equipo}}</option>
      </select>
      <div class="column">
        <div>
          <button class="button1 btn-sucess btn-lg btn-block">Agregar Equipo</button>
        </div>
      </div> 
  </form> 
  <!--
  <table class="table table-sm">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css" integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous">
    <tr *ngFor="let equipo of equipoService.list">
        <td style="color: black;">
            {{equipo.Club}}
        </td>
        <td style="color: black;">
          {{equipo.ID}}
      </td>
        <td>
            <i class="far fa-trash-alt fa-lg text-danger" (click)="eliminarEquipo(equipo.ID)" style="cursor: pointer;"></i>
        </td>
       
    </tr>

</table>-->

  </div>
</div>
  </body>
</html>
