<app-navbar></app-navbar>
<!--<mat-toolbar>
    <mat-form-field appearance="fill">
        <mat-label>Crear partido</mat-label>
        <mat-select>
          <mat-option value="option1" disabled>Crear torneo (deshabilitado)</mat-option>
          <mat-option value="option2">Crear partido</mat-option>
          <mat-option value="option3">Visualizar eventos</mat-option>
        </mat-select>
    </mat-form-field>
</mat-toolbar> -->
<table>
    <tr>
        <td style="width:20%;">
            <h2 style="color: black; margin-left: 10%;" class="text-center">Torneo al que pertenece</h2>
        </td>
        <td>
            <mat-form-field style="width:20%">              
                <mat-select>
                  <mat-option value="torneo" (click)="selected_tounament(torneo)" *ngFor="let torneo of nombre_torneos;let indice=index">{{torneo}}</mat-option>
                  
                </mat-select>
            </mat-form-field>
        </td>
    </tr>
    <tr>
        <td  style="width:20%;">
            <h2 style="color: black; margin-left: 10%;" class="text-center">Fecha de inicio</h2>
        </td>
        <td>
            <mat-form-field  style="width:20%;">
                <input matInput [matDatepicker]="picker1">
                <mat-hint>MM/DD/YYYY</mat-hint>
                <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                <mat-datepicker #picker1></mat-datepicker>
            </mat-form-field>
        </td>
    </tr>
    <tr>
        <td  style="width:20%;">
            <h2 style="color: black; margin-left: 10%;" class="text-center">Hora de inicio</h2>
        </td>
        <td>
            <mat-form-field  style="width:20%;">
                <input matInput [matDatepicker]="picker2">
                <mat-hint>MM/DD/YYYY</mat-hint>
                <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                <mat-datepicker #picker2></mat-datepicker>
            </mat-form-field>
        </td>
    </tr>
    <tr>
        <td  style="width:20%;">
            <h2 style="color: black; margin-left: 10%;" class="text-center">Fase del torneo</h2>
        </td>
        <td>
            <mat-form-field  style="width:20%;">              
                <mat-select>
                  <mat-option value="fase" (click)="tounament_phases(fase)" *ngFor="let fase of fases">{{fase}}</mat-option>
                </mat-select>
            </mat-form-field>
        </td>
    </tr>
    <tr>
        <td  style="width:20%;">
            <h2 style="color: black; margin-left: 10%;" class="text-center">Equipo 1</h2>
        </td>
        <td>
            <mat-form-field  style="width:20%;">              
                <mat-select>
                  <mat-option value="equipo" (click)="selected_team1(equipo)" *ngFor="let equipo of equipos">{{equipo}}</mat-option>
                </mat-select>
            </mat-form-field>
        </td>
    </tr>
    <tr>
        <td  style="width:20%;">
            <h2 style="color: black; margin-left: 10%;" class="text-center">Equipo 2</h2>
        </td>
        <td>
            <mat-form-field  style="width:20%;">              
                <mat-select>
                  <mat-option value="equipo" (click)="selected_team2(equipo)" *ngFor="let equipo of equipos">{{equipo}}</mat-option>
                </mat-select>
            </mat-form-field>
        </td>
    </tr>
    <tr>
        <td  style="width:20%;">
            <h2 style="color: black; margin-left: 10%;" class="text-center">Sede</h2>
        </td>
        <td>
            <mat-form-field  style="width:20%;">              
                <mat-select>
                  <mat-option value="sede" (click)="selected_sede(sede)" *ngFor="let sede of sedes">{{sede}}</mat-option>
                </mat-select>
            </mat-form-field>
        </td>
    </tr>
</table>
<div style="margin-left: 80%; margin-top: 10%">
    <button mat-raised-button (click)="to_home()">Salir</button>
    <button mat-raised-button (click)="to_view_events()">Guardar partido</button>
</div>






<!--
<div class="centrar">
    <table class="center-content">
        <tr *ngFor="let item of torneos;let indice=index">
          <td>
            <button mat-raised-button (click)="elegir_torneo(item)">{{item}} <mat-icon>input</mat-icon></button>
        </td>
        </tr>
    </table>
</div>

<div class="centrar">
    <mat-label>Elija al equipo 1</mat-label>
    <br>
    <mat-radio-group >
        <mat-radio-button value="1">Option 1</mat-radio-button>
        <mat-radio-button value="2">Option 2</mat-radio-button>
    </mat-radio-group>
    <span></span>
    <mat-label>Elija al equipo 2</mat-label>
    <mat-radio-group>
        <mat-radio-button value="1">Option 1</mat-radio-button>
        <mat-radio-button value="2">Option 2</mat-radio-button>
    </mat-radio-group>  
</div>
-->

