<app-client-navbar></app-client-navbar>
<mat-tab-group>
    <mat-tab label="{{torneo.Nombre}}" *ngFor="let torneo of torneos" (click)="limpiar()">
        <h1 (click)="limpiar()"> {{username}} </h1>
        <mat-card class="card">
            <div>
                <label>
                    <h3>Elija una de sus quinielas para ver la información: </h3>
                </label>

                <mat-form-field style="width:20%" (click)="lista_quinielas_torneo_usuario(torneo.Nombre, id_Usuario)">
                    <mat-select>
                        <mat-option value="encuentros[indice]"
                            *ngFor="let quiniela of quinielas_torneo_usuario; let indice=index"
                            (click)="mostrar_quiniela(quiniela)"> ID #{{quiniela.Id}} --> {{encuentros[indice]}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>

            </div>
            <div>
                <h2>Contrincantes</h2>
                {{partido_quiniela.Equipo_1}} ---------
                {{partido_quiniela.Equipo_2}}
            </div>
            <br>
            <div>
                <h2>Mejor jugador</h2>
                <mat-icon>grade</mat-icon> {{mejor_Jugador}}
            </div>
            <td class="columnas">
                <div>
                    Fecha: {{partido_quiniela.Fecha}}
                </div>
                <br>
                <div>
                    <label>Cantidad de goles para </label>
                    {{partido_quiniela.Equipo_1}}: {{Goles_Eq1}}
                </div>
                <br>
                <div>
                    <label>Autogoles</label>
                    {{Autogoles_eq1}}
                </div>
                <br>
                <div>
                    Sede: {{partido_quiniela.Sede}}
                </div>
            </td>

            <td class="columnas">
                <div>
                    Hora: {{partido_quiniela.Hora}}
                </div>
                <br>
                <div>
                    <label>Cantidad de goles para </label>
                    {{partido_quiniela.Equipo_2}}: {{Goles_Eq2}}
                </div>
                <br>
                <div>
                    <label>Autogoles</label>
                    {{Autogoles_eq2}}
                </div>
                <br>
                <div>
                    Estado del partido: {{partido_quiniela.Estado_del_partido}}
                </div>
            </td>

            <td class="columnas">
                <div>
            <td>
                <table mat-table [dataSource]="goleadores_aux" class="mat-elevation-z8">

                    <ng-container matColumnDef="nombre">
                        <th mat-header-cell *matHeaderCellDef> ID Jugador </th>
                        <td mat-cell *matCellDef="let element"> {{element}} </td>
                    </ng-container>

                    <ng-container matColumnDef="goles">
                        <th mat-header-cell *matHeaderCellDef> Goles </th>
                        <td mat-cell *matCellDef="let element"> # </td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="goleadoresColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: goleadoresColumns;"></tr>
                </table>
            </td>
            <td>
                <table mat-table [dataSource]="asistencias_aux" class="mat-elevation-z8">

                    <ng-container matColumnDef="nombre">
                        <th mat-header-cell *matHeaderCellDef> ID Jugador </th>
                        <td mat-cell *matCellDef="let element"> {{element}} </td>
                    </ng-container>

                    <ng-container matColumnDef="asistencias">
                        <th mat-header-cell *matHeaderCellDef> Asistencias </th>
                        <td mat-cell *matCellDef="let element"> # </td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="asistenciasColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: asistenciasColumns;"></tr>
                </table>
            </td>
            </div>
            </td>
        </mat-card>
    </mat-tab>
</mat-tab-group>