<div *ngIf='rol=="admin"'>
    <app-navbar></app-navbar>
</div>
<div *ngIf="rol=='user'">
    <app-client-navbar></app-client-navbar>
</div>


<mat-tab-group>
    <mat-tab (click)="limpiar();" label="{{torneo.Nombre}}" *ngFor="let torneo of torneos">
        <h1 (click)="limpiar();"> {{username}} </h1>
        <mat-card class="card">
            <div>
                <td class="columnas">
                    <div>
                        <label>
                            <h3>Elija el partido que desea pronosticar </h3>
                        </label>
                        <br>
                        <mat-form-field style="width:60%" (click)="obtener_datos_torneo(torneo.Nombre, torneo.Equipos)">
                            <mat-select (click)="obtener_datos_torneo(torneo.Nombre, torneo.Equipos)">
                                <mat-option value="partido" *ngFor="let partido of partidos_por_torneo"
                                    (click)="partido_a_pronosticar(partido, torneo.Equipos)">{{partido.Equipo_1}} VS
                                    {{partido.Equipo_2}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <br>
                    <div>
                        Fecha: {{Fecha}}
                    </div>
                    <br>
                    <div>
                        <label>Cantidad de goles (goles + autogoles a favor) para </label>
                        {{Equipo_1}}: {{Goles_Equipo_1}}
                        <br>
                        <input [(ngModel)]="Autogoles_eq1" (change)="auto_goles_1(autogoles1.value)" type="number"
                            min="0" max="99" #autogoles1>
                        <label>Autogoles a favor: {{Autogoles_eq1}}</label>
                    </div>
                    <br>
                    <div>
                        Fase: {{Fase}}
                    </div>
                    <br>
                    <div>
                        Estado del partido: {{Estado_del_partido}}
                    </div>
                </td>

                <td class="columnas">
                    <div *ngIf="torneo.Equipos=='Seleccion'">
                        <label>
                            <h3>Mejor jugador</h3>
                        </label>
                        <br>
                        <mat-form-field (click)="listar_jugadores(torneo.Equipos)">
                            <mat-select (click)="listar_jugadores(torneo.Equipos)">
                                <mat-option value="jugador.nombre" *ngFor="let jugador of todos_los_jugadores_seleccion"
                                    (click)="mejor_jugador(jugador.ID)">
                                    {{jugador.Nombre_Jugador}} {{jugador.Apellido1_Jugador}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <div *ngIf="torneo.Equipos=='Club'">
                        <label>
                            <h3>Mejor jugador</h3>
                        </label>
                        <br>
                        <mat-form-field (click)="listar_jugadores(torneo.Equipos)">
                            <mat-select (click)="listar_jugadores(torneo.Equipos)">
                                <mat-option value="jugador.Nombre_Jugador"
                                    *ngFor="let jugador of todos_los_jugadores_club"
                                    (click)="mejor_jugador(jugador.ID)">
                                    {{jugador.Nombre_Jugador}} {{jugador.Apellido1_Jugador}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <br>
                    <div>
                        Hora: {{Hora}}
                    </div>
                    <br>
                    <div>
                        <label>Cantidad de goles (goles + autogoles a favor) para </label>
                        {{Equipo_2}}: {{Goles_Equipo_2}}
                        <br>
                        <input [(ngModel)]="Autogoles_eq2" (change)="auto_goles_2(autogoles2.value)" type="number"
                            min="0" max="99" #autogoles2>
                        <label>Autogoles a favor: {{Autogoles_eq2}}</label>
                    </div>
                    <br>
                    <div>
                        Sede: {{Sede}}
                    </div>
                </td>
                <td class="columnas">
                    <div>
                <td>
                    <table mat-table [dataSource]="goleadores" class="mat-elevation-z8">

                        <ng-container matColumnDef="nombre">
                            <th mat-header-cell *matHeaderCellDef> * </th>
                            <td mat-cell *matCellDef="let element"> {{element.nombre}} </td>
                        </ng-container>

                        <ng-container matColumnDef="goles">
                            <th mat-header-cell *matHeaderCellDef> Goles </th>
                            <td mat-cell *matCellDef="let element"> {{element.goles}} </td>
                        </ng-container>

                        <tr mat-header-row *matHeaderRowDef="goleadoresColumns"></tr>
                        <tr mat-row *matRowDef="let row; columns: goleadoresColumns;"></tr>
                    </table>
                </td>
                <td>
                    <table mat-table [dataSource]="asistencias" class="mat-elevation-z8">

                        <ng-container matColumnDef="nombre">
                            <th mat-header-cell *matHeaderCellDef> * </th>
                            <td mat-cell *matCellDef="let element"> {{element.nombre}} </td>
                        </ng-container>

                        <ng-container matColumnDef="asistencias">
                            <th mat-header-cell *matHeaderCellDef> Asistencias </th>
                            <td mat-cell *matCellDef="let element"> {{element.asistencias}} </td>
                        </ng-container>

                        <tr mat-header-row *matHeaderRowDef="asistenciasColumns"></tr>
                        <tr mat-row *matRowDef="let row; columns: asistenciasColumns;"></tr>
                    </table>
                </td>
            </div>
            </td>
            </div>
            <br style="height: 15px;">
            <div>
                <button mat-raised-button style="background-color:hsl(211, 100%, 28%); color: white"
                    (click)="enviar_datos();">Confirmar y
                    enviar</button>
            </div>
        </mat-card>
        <br>
        <div style="margin-left: 43%;">
            <button mat-raised-button style="background-color:hsl(211, 100%, 28%); color: white"
                (click)="confirmar_goleadores_asistencias();">Confirmar
                goles y asistencias</button>
        </div>

        <td style="float: left;" *ngIf="tipo_torneo=='Seleccion'">
            <h1>{{Equipo_1}}</h1>
            <table mat-table [dataSource]="jugadores_seleccion_1" class="mat-elevation-z8">

                <ng-container matColumnDef="nombre">
                    <th mat-header-cell *matHeaderCellDef> Nombre </th>
                    <td mat-cell *matCellDef="let element"> {{element.Nombre_Jugador}} {{element.Apellido1_Jugador}}
                    </td>
                </ng-container>

                <ng-container matColumnDef="goles">
                    <th mat-header-cell *matHeaderCellDef> Goles </th>
                    <td (change)="sumar_goleadores_1(element.ID, element.Nombre_Jugador, element.Apellido1_Jugador, goles.value)"
                        mat-cell *matCellDef="let element">
                        <input
                            (change)="sumar_goleadores_1(element.ID, element.Nombre_Jugador, element.Apellido1_Jugador, goles.value)"
                            type="number" min="0" max="99" #goles>
                    </td>
                </ng-container>

                <ng-container matColumnDef="asistencias">
                    <th mat-header-cell *matHeaderCellDef> Asistencias </th>
                    <td (change)="sumar_asistencias_1(element.ID, element.Nombre_Jugador, element.Apellido1_Jugador, asistencias_1.value)"
                        mat-cell *matCellDef="let element"> <input
                            (change)="sumar_asistencias_1(element.ID, element.Nombre_Jugador, element.Apellido1_Jugador, asistencias_1.value)"
                            type="number" min="0" max="99" #asistencias_1>
                    </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
        </td>

        <td style="float: left;" *ngIf="tipo_torneo=='Club'">
            <h1>{{Equipo_1}}</h1>
            <table mat-table [dataSource]="jugadores_club_1" class="mat-elevation-z8">

                <ng-container matColumnDef="nombre">
                    <th mat-header-cell *matHeaderCellDef> Nombre </th>
                    <td mat-cell *matCellDef="let element"> {{element.Nombre_Jugador}} {{element.Apellido1_Jugador}}
                    </td>
                </ng-container>

                <ng-container matColumnDef="goles">
                    <th mat-header-cell *matHeaderCellDef> Goles </th>
                    <td (change)="sumar_goleadores_1(element.ID, element.Nombre_Jugador, element.Apellido1_Jugador, goles.value)"
                        mat-cell *matCellDef="let element">
                        <input
                            (change)="sumar_goleadores_1(element.ID, element.Nombre_Jugador, element.Apellido1_Jugador, goles.value)"
                            type="number" min="0" max="99" #goles>
                    </td>
                </ng-container>

                <ng-container matColumnDef="asistencias">
                    <th mat-header-cell *matHeaderCellDef> Asistencias </th>
                    <td (change)="sumar_asistencias_1(element.ID, element.Nombre_Jugador, element.Apellido1_Jugador, asistencias_1.value)"
                        mat-cell *matCellDef="let element">
                        <input
                            (change)="sumar_asistencias_1(element.ID, element.Nombre_Jugador, element.Apellido1_Jugador, asistencias_1.value)"
                            type="number" min="0" max="99" #asistencias_1>
                    </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
        </td>

        <td style="float: right;" *ngIf="tipo_torneo=='Seleccion'">
            <h1>{{Equipo_2}}</h1>
            <table mat-table [dataSource]="jugadores_seleccion_2" class="mat-elevation-z8">

                <ng-container matColumnDef="nombre">
                    <th mat-header-cell *matHeaderCellDef> Nombre </th>
                    <td mat-cell *matCellDef="let element"> {{element.Nombre_Jugador}} {{element.Apellido1_Jugador}}
                    </td>
                </ng-container>

                <ng-container matColumnDef="goles">
                    <th mat-header-cell *matHeaderCellDef> Goles </th>
                    <td (change)="sumar_goleadores_2(element.ID, element.Nombre_Jugador, element.Apellido1_Jugador, goles.value)"
                        mat-cell *matCellDef="let element">
                        <input
                            (change)="sumar_goleadores_2(element.ID, element.Nombre_Jugador, element.Apellido1_Jugador, goles.value)"
                            type="number" min="0" max="99" #goles>
                    </td>
                </ng-container>

                <ng-container matColumnDef="asistencias">
                    <th mat-header-cell *matHeaderCellDef> Asistencias </th>
                    <td (change)="sumar_asistencias_2(element.ID, element.Nombre_Jugador, element.Apellido1_Jugador, asistencias_2.value)"
                        mat-cell *matCellDef="let element"> <input
                            (change)="sumar_asistencias_2(element.ID, element.Nombre_Jugador, element.Apellido1_Jugador, asistencias_2.value)"
                            type="number" min="0" max="99" #asistencias_2> </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
        </td>

        <td style="float: right;" *ngIf="tipo_torneo=='Club'">
            <h1>{{Equipo_2}}</h1>
            <table mat-table [dataSource]="jugadores_club_2" class="mat-elevation-z8">

                <ng-container matColumnDef="nombre">
                    <th mat-header-cell *matHeaderCellDef> Nombre </th>
                    <td mat-cell *matCellDef="let element"> {{element.Nombre_Jugador}} {{element.Apellido1_Jugador}}
                    </td>
                </ng-container>

                <ng-container matColumnDef="goles">
                    <th mat-header-cell *matHeaderCellDef> Goles </th>
                    <td (change)="sumar_goleadores_2(element.ID, element.Nombre_Jugador, element.Apellido1_Jugador, goles.value)"
                        mat-cell *matCellDef="let element">
                        <input
                            (change)="sumar_goleadores_2(element.ID, element.Nombre_Jugador, element.Apellido1_Jugador, goles.value)"
                            type="number" min="0" max="99" #goles>
                    </td>
                </ng-container>

                <ng-container matColumnDef="asistencias">
                    <th mat-header-cell *matHeaderCellDef> Asistencias </th>
                    <td (change)="sumar_asistencias_2(element.ID, element.Nombre_Jugador, element.Apellido1_Jugador,  asistencias_2.value)"
                        mat-cell *matCellDef="let element">
                        <input
                            (change)="sumar_asistencias_2(element.ID, element.Nombre_Jugador, element.Apellido1_Jugador, asistencias_2.value)"
                            type="number" min="0" max="99" #asistencias_2>
                    </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
        </td>
    </mat-tab>
</mat-tab-group>