<app-client-navbar></app-client-navbar>
<mat-tab-group >
    <mat-tab label="{{torneo}}"  *ngFor="let torneo of nombre_torneos" (click)="limpiar_lista();"> 
        <mat-card class="card" >
            <div>
                <label><h2>Elija el partido que desea pronosticar </h2></label>
                
                <mat-form-field style="width:20%">              
                    <mat-select (click)="obtener_partidos_por_torneo(torneo)">
                        <mat-option value="partido" (click)="partido_a_pronosticar(partido);" (click)="jugadores_por_equipo_1(partido.Equipo_1);" (click)="jugadores_por_equipo_2(partido.Equipo_2)" *ngFor="let partido of partidos_por_torneo">{{partido.Equipo_1}} VS {{partido.Equipo_2}}</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            
            <div>
                <h2>Datos del evento</h2>
                <td class="columnas">
                    
                    Fecha: {{Fecha}}
                </td>
                
                <td class="columnas">
                    Hora: {{Hora}}
                </td>
            </div>
            
            <div>
                <td class="columnas">
                    <label>Cantidad de goles para </label>
                    {{Equipo_1}}: {{Goles_Equipo_1}}
                    <br>
                    <label>Autogoles</label>
                    <input (change)="sumar_goles_2(autogoles1.value)" type="number" min="0" max="99" #autogoles1>   
                </td>
                <td class="columnas">
                    <label>Cantidad de goles para </label>
                    {{Equipo_2}}: {{Goles_Equipo_2}}
                    <br>
                    <label>Autogoles</label>
                    <input (change)="sumar_goles_1(autogoles2.value)" type="number" min="0" max="99" #autogoles2>
                </td>
            </div>
            <br>
            <div>
                <td class="columnas">
                    Fase: {{Fase}}
                </td>
                
                <td class="columnas">
                    Estado del partido: {{Estado_del_partido}}
                </td>          
            </div>
            <div>
                <td class="columnas">
                    Sede: {{Sede}}
                </td>           
            </div>
            
            <button mat-raised-button color="primary" (click)="guardar_quiniela();">Guardar pronostico</button>

        </mat-card>
        <td style="float: left;">
            <h1>{{Equipo_1}}</h1>
            <table mat-table [dataSource]="jugadores_equipo_1" class="mat-elevation-z8">
        
                <ng-container matColumnDef="goleador">
                  <th mat-header-cell *matHeaderCellDef> Goleador </th>
                  <td mat-cell *matCellDef="let element"> {{element.Nombre_Jugador}} </td>
                </ng-container>
              
                <ng-container matColumnDef="goles">
                  <th mat-header-cell *matHeaderCellDef> Goles </th>
                  <td mat-cell *matCellDef="let element"> <input (change)="sumar_goles_1(goles.value)" type="number" min="0" max="99" #goles> </td>
                </ng-container>
              
                <ng-container matColumnDef="asistencias">
                  <th mat-header-cell *matHeaderCellDef> Asistencias </th>
                  <td mat-cell *matCellDef="let element"> <input type="number" min="0" max="99" #asistencias> </td>
                </ng-container>
              
                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
              </table>
        </td>

        <td style="float: right;">
            <h1>{{Equipo_2}}</h1>
            <table mat-table [dataSource]="jugadores_equipo_2" class="mat-elevation-z8">
        
                <ng-container matColumnDef="goleador">
                  <th mat-header-cell *matHeaderCellDef> Goleador </th>
                  <td mat-cell *matCellDef="let element"> {{element.Nombre_Jugador}} </td>
                </ng-container>
              
                <ng-container matColumnDef="goles">
                  <th mat-header-cell *matHeaderCellDef> Goles </th>
                  <td mat-cell *matCellDef="let element"> <input (change)="sumar_goles_2(goles.value)" type="number" min="0" max="99" #goles> </td>
                </ng-container>
              
                <ng-container matColumnDef="asistencias">
                  <th mat-header-cell *matHeaderCellDef> Asistencias </th>
                  <td mat-cell *matCellDef="let element"> <input type="number" min="0" max="99" #goles> </td>
                </ng-container>
              
                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
              </table>
        </td>
    </mat-tab>
</mat-tab-group>
