<app-navbar></app-navbar>
<mat-tab-group>
    <mat-tab  *ngFor="let item of torneosBueno; let i=index" label="{{item.Nombre}}" > 
      <mat-grid-list cols="3" rowHeight="3:1" >
        <mat-card class="card">
          <td class="columnas">
            {{i+1}}
          </td>
          <td class="columnas">
            {{item.Username}}
          </td>
          <td class="columnas">
            {{item.Puntaje}}
          </td>
        </mat-card>
        
      </mat-grid-list>
    </mat-tab>
</mat-tab-group>

  

