html,
body {
  height: 100%;
  margin:0;
}
body {
  display: flex;
  align-items: left;
  padding-top: 40px;
  padding-bottom: 50%;
  background-color: #004590;
}
.form {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
}
  .form .checkbox {
    font-weight: 400;
  }
  .form .form-control {
    position: relative;
    box-sizing: border-box;
    height: auto;
    padding: 10px;
    font-size: 16px;
  }
    .form .form-control:focus {
      z-index: 2;
    }
  .form input[type="email"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
  }
  .form input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }.button1 {
    background-color: #4a5868; /* Green */
    border: none;
    color: rgb(255, 255, 255);
    padding: 2%;
    display: inline-block;
    font-size: 16px;  
    font-weight:bold;
    position:relative;
  }
  .checkBox{
    margin: 2%;
    padding: 2%;
  }