<app-client-navbar></app-client-navbar>

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>

<body>
    <div class="row">

        <div class="column">

            <h2 style="color: black;" class="text-center">
                Crear comunidad
            </h2>
            <div
                style="align-items: center;margin-left: auto;margin-right: auto; vertical-align: middle;display: flex;">
                <select formControlName="torneoControl" id="torneos"
                    style="margin-left: auto;margin-right: auto; vertical-align: middle;">
                    <option [value]='torneo' *ngFor="let torneo of torneos">{{torneo}}</option>
                </select>
            </div>

            <form [formGroup]="guardarLiga" class="select">

                <div class="column">
                    <div class="input-group">
                        <input class="text" type="text" class="form-control" formControlName="nombreComunidad"
                            placeholder="Nombre Comunidad" maxlength="30" required>
                    </div>
                </div>
                <div class="column">
                    <div>
                        <button class="button1 btn-sucess btn-lg btn-block" (click)="guardarComunidad()">Crear
                            Comunidad</button>
                    </div>
                </div>
            </form>
        </div>
        <div class="column">

            <h2 style="color: black;" class="text-center">
                Comunidades
            </h2>
            <div class="column"
                style="align-items: center;margin-left: auto;margin-right: auto; vertical-align: middle;display: flex;">
                Ver Codigo de Comunidad:
                <select id="torneos" style="margin-left: auto;margin-right: auto; vertical-align: middle;">
                    <option [value]='torneo' *ngFor="let torneo of arrayComunidades"
                        (click)="obtenerCodigo(torneo.COD_Invita)">{{torneo.Nombre}}: {{torneo.COD_Invita}}</option>
                </select>
            </div>
 
            <form [formGroup]="ingresarComunidad" class="select">

                <div class="column">
                    <div class="input-group">
                        <input class="text" type="text" class="form-control" formControlName="codigoControl"
                            placeholder="Ingresar Codigo" maxlength="30" required>
                    </div>
                </div>
                <div class="column">
                    <div>
                        <button (click)="unirseComunidad();obtenerComunidades()"
                            class="button1 btn-sucess btn-lg btn-block">Unirse a la comunidad</button>
                    </div>
                </div>
            </form>
        </div>
        <div class="centeredButton">
            <button class="button1 btn-sucess btn-lg btn-block"  routerLink="/view_ranking">Ver Rankings de Comunidades</button>
        </div>

    </div>
</body>

</html>