<app-navbar></app-navbar>
<mat-tab-group >
    <mat-tab label="{{torneo}}" *ngFor="let torneo of nombre_torneos"> 
        <mat-grid-list cols="3" rowHeight="2:1" *ngFor="let partido of partidos" >
            <mat-grid-tile  *ngIf="partido.Nombre_Torneo==torneo">
                Fecha: {{partido.Fecha}}
                <br>
                Hora: {{partido.Hora}}
                <br>
                {{partido.Goles_Equipo_1}} --- {{partido.Equipo_1}}  VS  {{partido.Equipo_2}} --- {{partido.Goles_Equipo_2}}  
                <br>
                Fase: {{partido.Fase}} 
                <br>            
                Estado del partido: {{partido.Estado_del_partido}}
                <br>            
                Sede: {{partido.Sede}}
            </mat-grid-tile>
        </mat-grid-list>
    </mat-tab>
</mat-tab-group>

