<app-navbar></app-navbar>
<mat-tab-group >
    <mat-tab label="{{partido.Nombre_Torneo}}" *ngFor="let partido of partidos"> 
        <mat-grid-list cols="2" rowHeight="3:2">
            <mat-grid-tile>
                Fecha: {{partido.Fecha}}
                <br>
                Hora: {{partido.Hora}}
                <br>
                0  {{partido.Equipo_1}}  VS  {{partido.Equipo_2}}  0   
                <br>
                Fase: {{partido.Fase}} 
                <br>            
                Estado del partido: {{partido.Estado_del_partido}}
            </mat-grid-tile>
        </mat-grid-list>
    </mat-tab>
</mat-tab-group>



<!-----------------------------------------------------------------------------------------------------
<div class="centrar">
    <table class="center-content">
        <tr *ngFor="let item of torneos">
          <td>
            <button mat-raised-button>{{item.Reglas}}</button>
        </td>
        </tr>
    </table>
</div>
--------------------------------------------------------------------------------------------------->